@import url(./fonts.css);

*{
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
    bottom: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    width: 1170px;
}

body{
    background-image: url(../img/background.jpg);
}

header .logo{
    font-family: 'CormorantInfant';
    font-size: 28px;
    color: #756b62;
    font-weight: 300;
}

h2{
    font-family: "Montserrat";
    font-size: 18px;
    color: #988f87;
    font-weight: 350;
}

header .shapka{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 0;
    align-items: baseline;
}

header .container{
    margin: 0 auto;
    width: 1200px;
    justify-content: center;
}

header .shapka i{
    color: #988f87;
    font-size: 23px;
    
}

header .shapka .logo{
    margin: 0 270px;
}


.section-foto{
    height: 900px;
}

.section-foto .container .img{
    position: relative;
    height: 720px;
}

.section-foto .container .img .plec{
    position: absolute;
    left: 550px;
    top: 100px;
    width: 580px;
    height: 730px;
}

.section-foto .container .img .mil{
    position: absolute;
    bottom: 455px;
}


.section-foto .container .img .puz{
    position: absolute;
    bottom: -110px;
    left: 250px;
}

.section-foto .container .img .cart{
    position: absolute;
    left: 1065px;
    bottom: -185px;
    opacity: 0.3;
}

.section-foto .container .img .text .p1{
    position: absolute;
    bottom: 246px;
    left: 20px;
    color: #756B62;
    font-family: 'Corm';
    font-size: 100px;
    font-weight: 300;
}

.section-foto .container .img .text .p2{
    position: absolute;
    bottom: 146px;
    left: 20px;
    color: #756B62;
    font-family: 'Corm';
    font-size: 100px;
    font-weight: 300;
}


.section-love h3{
    font-family: 'CormorantInfant';
    font-size: 55px;
    color: #756b62;
    font-weight: 300;
    margin: 0 15px;
}

.section-love p{
    font-family: "Corm";
    font-style: italic;
    font-size: 55px;
    color: #988f87;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-love .container .bag{
    display: flex;
    justify-content: center;
}

.section-love .container img{
    position: absolute;
    right: -20px;
    bottom: 0;
}

.section-love .container .img{
    position: relative;
}

.section-soap .line{
    width: 7%;
    height: 3px;
    background-color: #988f87;
    margin-bottom: 30px;
    margin: 9px;
}

.section-soap .container p{
    font-family: "Montserrat";
    color: #988f87;
    font-size: 20px;
}

.section-soap .container{
    margin-top: 250px;
    margin-bottom: 250px;
}

.section-soap .container .picture{
    display: flex;
    justify-content: space-between;
}

.section-soap .container .kol{
    display: flex;
    margin: 20px 0;
}

.section-soap .text{
    display: flex;
    align-items: baseline;
    font-family: "Montserrat";
    font-size: 18px;
}


.section-soap .card img{
    margin: 10px 0;
}

.section-soap .card p{
    color: #756b62;
    margin: 10px 0 ;
}

.section-soap .text i{
    margin: 10px;
}

.section-soap .plus{
    line-height: 40px;
    width: 50px;
    height: 50px;
    border: 2px solid #988f87;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-soap .plus p{
    font-size: 30px;
    display: flex;
    color: #988f87;
}
.section-soap .txt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.section-history .container .kol{
    display: flex;
    margin: 20px 0;
    font-family: "Montserrat";
    color: #988f87;
    font-size: 24px;
}

.section-history .container .kol p{
    font-family: "Montserrat";
    font-style: normal;
    font-size: 20px;
}

.section-history .line{
    width: 7%;
    height: 3px;
    background-color: #988f87;
    margin-bottom: 20px;
    margin: 9px;
}

.section-history .container h3{
    font-family: 'Corm';
    font-size: 55px;
    color: #756b62;
    font-weight: 400;
    font-style: italic;
    margin: 50px 0;
}

.section-history .container .mi p{
    font-family: 'Corm';
    font-size: 24px;
    color: #988f87;
    font-weight: 400;
    font-style: italic;
    margin-top: 0 20px;
    margin: 20px 0;
}

.section-history .soz{
    display: flex;
    margin: 50px 0;
}

.section-history .soz .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10px;
}

.section-history .soz .text h2{
    font-family: "Montserrat";
    font-size: 18px;
    color: #756b62;
    text-decoration: underline;
    font-weight: 500;
}

.section-history .soz .text p{
    font-family: "Montserrat";
    font-size: 18px;
    color: #988f87;
    margin: 10px 0;
}

.section-history .container .hand{
    position: relative;
    left: 700px;
    bottom: 600px;
}

.section-history .container .hand2{
    position: relative;
    right: 80px ;
    bottom: 450px;
}

.section-history .container .hand3{
    position: relative;
    left: 360px;
    bottom: 600px;
}

.section-tree{
    height: 300px;
}


.section-tree .container .tre{
    display: flex;
    align-items: baseline;
}

.section-tree .container .tre .tree{
    margin: 0 10px;
}

.section-tree .container .tre .tree .fot{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.section-tree .container .tre .krug{
    margin: 0 10px;
}

.section-tree .container .tre .krug .fot{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.section-tree .container .tre .book{
    margin: 0 10px;
}

.section-tree .container .tre .book .fot{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.section-tree .container .tre p{
    color: #988f87;
    font-family: 'Corm';
    font-size: 20px;
}



.section-inst{
    margin: 350px 0;
}

.section-inst .container{
    width: 2000px;
}



.section-inst .container .text{
    display: flex;
    align-items: baseline;
    margin: 50px 0;
    justify-content: center;
}

.section-inst .container .text i{
    font-size: 35px;
    margin: 0 10px;
    color: #988f87;
}


.section-inst .container .text p{
    font-family: 'Montserrat';
    color: #988f87;
    font-weight: 400;
    font-size: 20px;
}

.section-inst .container .text h2{
    color: #756B62;
    text-decoration: underline;
    font-weight: 400;
    font-family: 'Montserrat';
    margin: 0 10px;
    font-size: 20px;
}


.section-inst .container .img{
    width: 2000px;
    display: flex;
    justify-content: space-between;
}

.section-siy .container .siy .text{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


.section-siy .container .siy h2{
    color: #988f87;
    font-family: 'Corm';
    font-size: 140px;
    font-weight: 400;
    
}


.section-siy .container .siy .t1{
    display: flex;
    justify-content: center;
}


.section-siy .container .siy .t2{
    display: flex;
    justify-content: space-between;
}


.section-siy .container .siy{
    position: relative;
}

.section-siy .container .siy .photo{
    background-image: url(../img/13.jpg);
    width: 630px;
    height: 390px;
    position: absolute;
    left: 350px;
    bottom: 130px;
}


.section-siy .container .siy .photo {
    display: flex;
    flex-direction: column;
    color: rgb(233, 233, 233);
    align-items: center;
    justify-content: center;
}

.section-siy .container .siy .photo .txt{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.section-siy .container .siy .photo .txt h3{
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 25px;
    
}

.section-siy .container .siy .photo .txt .rub{
    display: flex;
    align-items: baseline;
}

.section-siy .container .siy .photo .knop{
    color: rgb(233, 233, 233);
    font-size: 25px;
    font-weight: 300;
    
    line-height: 40px;
    width: 170px;
    height: 60px;
    border: 2px solid rgb(233, 233, 233);;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: -30px;    
}


.section-anket{
    background: url(../img/19.jpg);
    background-size: cover;
    height: 600px;
    margin: 50px 0;
}


.section-anket .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-anket .container .text{
    width: 700px;
    height: 300px;
}

.section-anket .container .text h2{
    font-family: 'Corm';
    color: #756B62;
    font-size: 50px;
    font-style: italic;
    margin: 50px 0 0 0;
}

.section-anket .container .text p{
    font-family: "Corm";
    color: #988f87;
    font-style: italic;
    font-size: 20px;
    margin: 20px 0;

}

.section-anket .container .vstav{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    margin: 70px 0 0 0;
    height: 300px;
}

.section-anket .container .vstav .line{
    width: 500px;
    height: 2px;
    margin-bottom: 30px;
    margin: 9px 0 50px 0;
    background-color: #756B62;
}

.section-anket .container .vstav h3{
    font-family: 'Montserrat';
    color: #988f87;
    font-weight: 400;
}

.section-anket .container .vstav .perek{
    display: flex;
}

.section-anket .container .vstav .perek input{
    width: 20px;
    height: 20px;
    background-color: #756B62;
}

.section-anket .container .vstav .perek p{
    color: #756B62;
    margin: 0 10px;
    font-size: 18px;
}

.section-anket .container .vstav .gal input{
    width: 20px;
    height: 20px;
    position: relative;
    bottom: -5px;
    margin: 40px 10px 0 0;
}


.section-anket .container .knop{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-anket .container .knop h3{
    color: #756B62;
    font-size: 20px;
    font-weight: 400;
    
    line-height: 40px;
    width: 200px;
    height: 60px;
    border: 2px solid #756B62;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.section-kon{
    background: url(../img/20.jpg);
    background-size: cover;

}

.section-kon .container{
    display: flex;
}

.section-kon .container .mimi{
    width: 400px;
    height: 400px;
}

.section-kon .container .mimi h3{
    color: white;
    font-family: 'CormorantInfant';
    font-weight: 300;
    font-size: 25px;
    margin: 150px 0 20px 0;
}

.section-kon .container .mimi h4{
    color: #9F968E;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 18px;
}

.section-kon .container .mimi .i{
    display: flex;
    margin: 50px 0;
}

.section-kon .container .mimi .i .ik{
    margin: 0 5px 0 0;
    color: #9F968E;
    font-size: 15px;
}

.section-kon .container .mimi .i p{
    color: #9F968E;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 15px;
}

.section-kon .container .adr{
    width: 400px;
    height: 500px;
}

.section-kon .container .adr .glav{
    color: #9F968E;
    margin: 200px 0 15px 0;
    font-family: 'Montserrat';
    font-weight: 300;
}

.section-kon .container .adr p{
    color: #9F968E;
    font-family: 'Montserrat';
    font-weight: 300;
    margin: 15px 0;
}

.section-kon .container .fa{
    display: flex;
    justify-content: center;
    margin: 200px 0 0 120px;
}

.section-kon .container .fa i{
    color: #9F968E;
    line-height: 40px;
    width: 45px;
    height: 45px;
    border: 2px solid #9F968E;
    border-radius: 50%;
    font-size: 20px;
    margin: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}